* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    */
}
body {
    background-color: rgb(228, 228, 228);
}
.container {
    width: 80%;
    max-width: 600px;
    margin:auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 23px 15px 0px rgba(0,0,0,0.1);
}
h1 {
    font-size: 30px;
    margin: auto;
}
p{
    font-size: 16px;
}
a {
    text-decoration: none;
}