.container {
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 23px 15px 0px rgba(0,0,0,0.1);
}
h1 {
    margin-left: auto;
    margin-right: auto;
}